*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.only-gradient{
  z-index: -99;
  background: linear-gradient(180deg, #D8B4FE -5.9%, rgba(216, 180, 254, 0.00) 115.76%);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  line-height: 1;
}