*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.custom-text{
  background-image: linear-gradient(180deg, #D8B4FE -1.9%, rgba(216, 180, 254, 0.00) 172.76%);
  background-clip: transparent;
  -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
